node_modules/
.next/
.github/
.git/
.vscode/
.vercel/
drizzle/
supabase/
tsconfig.json
.eslintrc.js
src/components/ui-ace/*
tailwind.config.ts
src-tauri/
vite.config.ts
src/tauri-bindings.ts
postcss.config.js
tailwind.config.js
src/components/ui/*
